@{
    ViewBag.Title = "About";
}


@*
<section class="header1 cid-qw2YPHwGm4 mbr-parallax-background" id="header1-s" data-rv-view="40">

    <div class="mbr-overlay" style="opacity: 0.3;">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Osiedla Sogo</h1>
            </div>
        </div>
    </div>
</section>
*@

<section class="header1 cid-qw2YPHwGm4 mbr-parallax-background" id="header1-1k" data-rv-view="675">

    <div class="mbr-overlay" style="opacity: 0.5;">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Osiedla Sogo
                </h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">dla Twojej rodziny</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Zobacz nasze inwestycje \\&gt;
                </p>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-ltn display-4" href="#lutynia">OSIEDLE LUTYNIA</a>
                    <a class="btn btn-md btn-krzptw display-4" href="#krzeptow">
                        OSIEDLE KRZEPTÓW
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qxLXjSVwMY" id="content4-1m" data-rv-view="678">

    <div class="container" id="lutynia">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    &nbsp;<br>
                    Osiedle Lutynia
                </h2>

                <div class="mbr-section-btn align-center py-4"><a class="btn btn-md btn-ltn display-4" href="@Url.Action("Details","Inwestycje", new { id = 1 })">Zobacz ofertę</a></div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section article content1 cid-qxLVOKkU6e" id="content1-1l" data-rv-view="680">


    <div class="container" id="krzeptow">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <strong>
                    Osiedle Lutynia to inwestycja mieszkaniowa realizowana na granicy miasta Wrocław – na obrzeżach dzielnicy Fabryczna. Nasza propozycja skierowana jest do osób poszukujących lokalizacji oferującej ciszę oraz bliskość terenów zielonych, a jednocześnie zapewniającej dobrą komunikację z miastem.
                </strong><div><strong>Lutynia, wraz z całą gminą Miękinia jest uważana ze jeden z obszarów o największym potencjale inwestycyjnym wokół Wrocławia. Realizowana już obwodnica Leśnicy umożliwi doskonałą komunikację Osiedla Lutynia z Wrocławiem, a planowane zmiany w transporcie publicznym poprawią komunikację wszystkim mieszkańcom z centrum miasta.</strong></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qxLXVyv47r" id="content4-1n" data-rv-view="681">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    &nbsp;<br>Osiedle Krzeptów
                </h2>

                <div class="mbr-section-btn align-center py-4"><a class="btn btn-md btn-krzptw display-4" href="@Url.Action("Details","Inwestycje", new { id = 1 })">Zobacz ofertę</a></div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section article content1 cid-qxLXVWLuLo" id="content1-1o" data-rv-view="683">


    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <strong>
                    Osiedle Krzeptów to inwestycja mieszkaniowa realizowana na granicy miasta Wrocław – na obrzeżach dzielnicy Fabryczna. Nasza propozycja skierowana jest do osób poszukujących lokalizacji oferującej ciszę oraz bliskość terenów zielonych, a jednocześnie zapewniającej dobrą komunikację z miastem.
                </strong><div><strong>Lutynia, wraz z całą gminą Miękinia jest uważana ze jeden z obszarów o największym potencjale inwestycyjnym wokół Wrocławia. Realizowana już obwodnica Leśnicy umożliwi doskonałą komunikację Osiedla Lutynia z Wrocławiem, a planowane zmiany w transporcie publicznym poprawią komunikację wszystkim mieszkańcom z centrum miasta.</strong></div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</section>