    <section class="header9 cid-qw9UWgpzo8 mbr-fullscreen mbr-parallax-background" id="header9-14" data-rv-view="924">

        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(13, 38, 116);">
        </div>
        <div class="container">
            <div class="media-container-column mbr-white col-md-8">
                <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1">Osiedla Sogo</h1>
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-2">
                    Mieszkania dla Twojej rodziny
                </h3>


            </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
                <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
    </section>
    <section class="features18 popup-btn-cards cid-qvZgUfcMPB" id="features18-j" data-rv-view="927">


        <div class="container">


            <div class="media-container-row pt-5 ">
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper ">
                        <div class="card-img">
                            <div class="mbr-overlay"></div>
                            <div class="mbr-section-btn text-center">
                                <a href="@Url.Action("index", "mieszkania")" class="btn btn-primary display-4">
                                    Zobacz
                                </a>
                            </div>
                            <img src="~/assets/images/2-11-1630x1286.jpg" alt="Mobirise" title="" media-simple="true">
                        </div>
                        <div class="card-box">
                            <p class="mbr-bold mbr-fonts-style align-left display-7">
                                Mieszkania
                            </p>
                            <p class="mbr-text mbr-fonts-style align-left display-7">
                                Mieszkania o metrażu od 29m2 do 67m2. Już od 107 000 zł. Do wyboru mieszkania 1 do 4-pokojowe.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <div class="mbr-overlay"></div>
                            <div class="mbr-section-btn text-center">
                                <a href="@Url.Action("details", "etapy", new { id = 3 })" class="btn btn-primary display-4">
                                    Zobacz
                                </a>
                            </div>
                            <img src="~/assets/images/fotolia-84433074-subscription-monthly-xxl-5760x3840.jpg" alt="Mobirise" title="" media-simple="true">
                        </div>
                        <div class="card-box">
                            <p class="mbr-bold mbr-fonts-style align-left display-7">
                                Tarasy
                            </p>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Nowe mieszkania w etapie "Tarasy" to zupełnie nowe nowoczesne projekty, które jeszcze bardziej zróżnicują naszą ofertę.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <div class="mbr-overlay"></div>
                            <div class="mbr-section-btn text-center">
                                <a href="@Url.Action("about", "home")" class="btn btn-primary display-4">
                                    Zobacz
                                </a>
                            </div>
                            <img src="~/assets/images/fotolia-103141139-subscription-monthly-m-1690x1124.jpg" alt="Mobirise" title="" media-simple="true">
                        </div>
                        <div class="card-box">
                            <p class="mbr-bold mbr-fonts-style align-left display-7">
                                Doradcy
                            </p>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Zadzwoń do nas i umów się na spotkanie. Zobacz mieszkania pokazowe i porozmawiaj ze specjalistą od kredytów.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="header9 cid-qvZi59MxJN mbr-fullscreen mbr-parallax-background" id="header9-k" data-rv-view="930">

        <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(13, 38, 116);">
        </div>
        <div class="container">
            <div class="media-container-column mbr-white col-md-8">
                <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1">Osiedla Sogo</h1>

                <p class="mbr-text align-left pb-3 mbr-fonts-style display-5">
                    Osiedla Sogo to szereg inwestycji mieszkaniowych, które zaspokajają potrzeby mieszkańców Wrocławia i okolic. To mieszkania i domy, na które możesz sobie pozwolić. To niewielki koszt, ale bez straty jakości. Odwiedź nasze biuro. Zobacz nasze inwestycje na własne oczy.
                </p>
                <div class="mbr-section-btn align-left"><a class="btn btn-md btn-white-outline display-4" href="@Url.Action("About", "Home")">ZOBACZ WIĘCEJ</a></div>
            </div>
        </div>

    </section>
    <section class="counters1 counters cid-qw2U6LlcbG" id="counters1-o" data-rv-view="933">


        <div class="container">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
                Liczby
            </h2>
            <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
                Zobacz co kryje się za nazwą Osiedla Sogo
            </h3>
            <div class="container pt-4 mt-2">
                <div class="media-container-row">
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-map-pin" style="color: rgb(13, 38, 116);" media-simple="true"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                    2
                                </h3>
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Różne inwestycje
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Prowadzimy inwestycje w kilku różnych lokalizacjach. Daje Ci to możliwość wyboru najlepszego rozwiązania dla Twojej rodziny.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-home" style="color: rgb(13, 38, 116);" media-simple="true"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                    200
                                </h3>
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Nieruchomości w sprzedaży
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    W anszej ofercie znajduje się wiele nieruchomości w atrakcyjnej cenie. Z pewnościa znajdziesz coś dla siebie.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-users" style="color: rgb(13, 38, 116);" media-simple="true"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                    300
                                </h3>
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Zadowolonych rodzin
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Zaufało nam już ponad 250 rodzin. <br>Dołącz do zadowolonych mieszkańców naszych osiedli.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>