
<section class="cid-qw37E2a6Ed" id="footer1-10" data-rv-view="1070">

    <div class="container">
        <div class="media-container-row content text-white">

            <div class="col-12 col-md-6 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    BIURO SPRZEDAŻY
                </h5>
                <p class="mbr-text">
                    Biuro czynne od poniedziałku do piątku<br />w godzinach 8:00—16:00
                </p>
                <p class="mbr-text">
                    ul. Przyjazna 1
                    <br>Lutynia
                </p>
            
                <h5 class="pb-3">
                    KONTAKT
                </h5>
                
                <p class="mbr-text">
                    Email: <a href="mailto:sprzedaz@osiedle-lutynia.pl">sprzedaz@osiedle-lutynia.pl</a>
                    <br>Biuro: +48 (71) 707 00 60
                    <br>Mobile: +48 783 18 38 38
                </p>
                
            </div>
            <div class="col-12 col-md-6 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    FINANSOWANIE ZAKUPU
                </h5>
                <p class="mbr-text">
                    Ireneusz Jaguś<br />
                    <a href="mailto:i.jagus@osiedle-lutynia.pl">i.jagus@osiedle-lutynia.pl</a>
                    <br>Mobile: +48 508 062 538
                </p>
            <hr>
                <h5 class="pb-3">
                    ZARZĄDCA NIERUCHOMOŚCI
                </h5>
                <p class="mbr-text">
                    VESTA Zarządzanie Nieruchomościami s. c.<br />
                    <a href="mailto:info@vesta.nieruchomosci.pl">info@vesta.nieruchomosci.pl</a>
                    <br>Telefon: +48 (71) 757 53 26
                </p>
            <hr>
                <h5 class="pb-3">
                    OBSŁUGA POSPRZEDAŻOWA
                </h5>
                <p class="mbr-text">
                    <a href="mailto:reklamacje@osiedle-lutynia.pl">reklamacje@osiedle-lutynia.pl</a>
                    <br>Telefon: +48 (71) 720 844 113
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        &copy; @DateTime.Now.Year Osiedla Sogo
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">

                        <div class="soc-item">
                            <a href="https://pl-pl.facebook.com/osiedlaSOGO/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/channel/UC4SXrnt9B0E2Q-qdB-AuVxg" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>

                        <div class="soc-item">
                            <a href="https://plus.google.com/+Osiedle-lutyniaPl" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*@Html.Partial("_LoginPartial")*@
    </div>
</section>
