<section class="features4 cid-qw35n9Gs94" id="features4-w" data-rv-view="43">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Zapraszamy
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Zapraszamy do zapoznania się z ofertą Osiedla Lutynia (okolica Wrocławia), gdzie każde mieszkanie spełnia warunki dopłaty programu Mieszkanie Dla Młodych.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Spełnij swoje marzenie
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Spełnij swoje marzenie i kup mieszkanie już za 110 000 zł. Mieszkania z metrażem od 29m<sup>2</sup> do 67m<sup>2</sup>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Mieszkania pod Wrocławiem
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mieszkania w cenie już od 110 000 zł z dopłatą MDM. Od 1 do 4 pokoi, duże ogrody, mozliwość zabudowy antresoli.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Treminy realizacji
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Zobacz terminy realizacji i umów się na spotkanie jeszcze dzisiaj.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
