<script type='text/javascript' src='~/unitegallery/js/unitegallery.min.js'></script>

<link rel='stylesheet' href='~/unitegallery/css/unite-gallery.css' type='text/css' />
<script type='text/javascript' src='~/unitegallery/themes/default/ug-theme-default.js'></script>
<script type='text/javascript' src='~/unitegallery/themes/slider/ug-theme-slider.js'></script>
<link rel='stylesheet' href='~/unitegallery/themes/default/ug-theme-default.css' type='text/css' />

<section>

    <div id="gallery" style="display:none;">    

        @{  
            @*getting relative path to my folder*@
            string myPath = Server.MapPath(@"~\assets\images\krzeptow\");
            @*counting number of files in folder*@
            int wizkiCount = Directory.GetFiles(myPath, "*.jpg").Length;

            for (int i = 0; i < wizkiCount; i++)
            {
                string urlZGalerii = "/assets/images/krzeptow/wizKrzeptow" + i + ".jpg";
                string altZGalerii = "Osiedle Krzeptów-Wizualizacja" + i;
                <img alt=@altZGalerii src="@urlZGalerii" />
            }
        }
        
    </div>

</section>

<script type="text/javascript">


			jQuery(document).ready(function(){
			    jQuery("#gallery").unitegallery({
			        gallery_theme: "slider",
                    theme_enable_fullscreen_button: true,
                    gallery_width: 1920,
                    gallery_height: 900,
                    slider_control_zoom: false,
			    });
			});

</script>