<section class="cid-qw37E2a6Ed" id="footer1-10" data-rv-view="1070">


    <div class="container">
        <div class="media-container-row content text-white">
            
            <div class="col-12 col-md-4 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Adres
                </h5>
                <p class="mbr-text">
                    Biuro czynne od poniedziełku do piątku<br />w godzinach 8:00—16:00
                </p>
                <p class="mbr-text">
                    ul. Przyjazna 1
                    <br>Wróblowice 55-330
                </p>
            </div>
            <div class="col-12 col-md-4 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Kontakt
                </h5>
                <p class="mbr-text">
                    Email: sprzedaz@sogo.pl
                    <br>Biuro: +48 (71) 707 00 60
                    <br>Mobile: +48 783 18 38 38
                </p>
            </div>
            <div class="col-12 col-md-4 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Zobacz też
                </h5>
                <p class="mbr-text">
                    <a class="text-primary kontakt" href="#kontakt">Facebook</a>
                    <br><a class="text-primary kontakt" href="#kontakt">YouTube</a>
                    <br><a class="text-primary kontakt" href="#kontakt">Inne linki</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                    &copy; @DateTime.Now.Year Ablab.pl
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</section>