<section class="map1 cid-qw37xY5akH" id="map1-z" data-rv-view="1068">

    <!--<div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>-->
    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10311.555196967185!2d19.962002343564098!3d49.750536084362125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716728466b2e05d%3A0xa2810091cf5df8bd!2s32-432+Pcim!5e0!3m2!1spl!2spl!4v1508079913718" allowfullscreen=""></iframe></div>
</section>