<section class="map1 cid-qw37xY5akH" id="map1-z" data-rv-view="1068">

    <div class="google-map">
        @if (Model != null)
        {
            if (Model.InwestycjaId == 1)
            {
                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11643.288210361501!2d16.784664244202016!3d51.13848658666238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDA4JzE4LjUiTiAxNsKwNDcnMzYuMyJF!5e0!3m2!1spl!2sus!4v1520175430805" allowfullscreen=""></iframe>
            }
            else if (Model.InwestycjaId == 2)
            {
                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11655.685204633352!2d16.87379924417915!3d51.089312600875786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDA1JzIxLjUiTiAxNsKwNTInNTcuMiJF!5e0!3m2!1spl!2sus!4v1520173433312" allowfullscreen=""></iframe>
            }
            else if (Model.InwestycjaId == 3)
            {
                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11656.554139483142!2d16.891376244177582!3d51.085864601872075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDA1JzA5LjEiTiAxNsKwNTQnMDAuNSJF!5e0!3m2!1spl!2sus!4v1520175678250" allowfullscreen=""></iframe>
            }
            else
            {
                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11643.288210361501!2d16.784664244202016!3d51.13848658666238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDA4JzE4LjUiTiAxNsKwNDcnMzYuMyJF!5e0!3m2!1spl!2sus!4v1520175430805" allowfullscreen=""></iframe>
            }
        }
        else
        {
            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11643.288210361501!2d16.784664244202016!3d51.13848658666238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDA4JzE4LjUiTiAxNsKwNDcnMzYuMyJF!5e0!3m2!1spl!2sus!4v1520175430805" allowfullscreen=""></iframe>
        }

    </div>

</section>