<section class="mbr-section content5 cid-qw35Pg935G" id="content5-x" data-rv-view="2050">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    Standard wykończenia
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Wszystkie mieszkania sprzedawane są w tzw. stanie deweloperskim.
                </h3>

                <div class="mbr-section-btn align-center"><a class="btn btn-white-outline display-4" href="@Url.Action("about", "home")">ZOBACZ WIĘCEJ</a></div>
            </div>
        </div>
    </div>
</section>